################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAPIProj/.vs/WebAPIProj
/WebAPIProj/WebAPIProj/bin/Debug/net6.0
/WebAPIProj/WebAPIProj/obj
